<div class="{{prefix}}page-contact" ct-civi-events>
    <form name="formDocuments">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <button class="btn btn-default btn-primary" ng-click="modalDocument()">
                            <span class="fa fa-plus-circle" aria-hidden="true"></span> &nbsp;Add Document
                        </button>
                        &nbsp;
                        <button class="btn btn-default btn-primary" ng-click="modalAssignment()">
                            <span class="fa fa-plus-circle" aria-hidden="true"></span> &nbsp;Add Assignment
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <ui-select
                                multiple
                                ng-model="filterParams.assignmentType">
                            <ui-select-match placeholder="Select assignment...">{{$item.title}}</ui-select-match>
                            <ui-select-choices repeat="type.id as type in cache.assignmentType.arr">
                                <div ng-bind-html="type.title | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="!documentListOngoing.length">
            <h4 class="header-bar header-bar-primary">Ongoing:</h4>
            <div ct-spinner ct-spinner-id="documentList">
                <table class="table table-striped {{prefix}}table-documents">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Contact</th>
                        <th>Assignment</th>
                        <th>Due Date</th>
                        <th>Expiry Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="document in documentListOngoing = (documentListFiltered = (documentList | filterBy.assignmentType:filterParams.assignmentType | orderBy: 'activity_date_time') | filterBy.status:cache.documentStatusResolve:false)"
                        ng-controller="DocumentCtrl"
                        ng-include
                        src="'document.html'">
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-hide="!documentListResolved.length">
            <h4 class="header-bar header-bar-danger">Resolved:</h4>
            <div ct-spinner ct-spinner-id="documentList">
                <table class="table table-striped {{prefix}}table-documents">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Contact</th>
                        <th>Assignment</th>
                        <th>Due Date</th>
                        <th>Expiry Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="document in documentListResolved = (documentListFiltered | filterBy.status:cache.documentStatusResolve:true)"
                        ng-controller="DocumentCtrl"
                        ng-include
                        src="'document.html'">
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="document.html">
    <td><a ng-href="{{urlFile}}" ng-click="(!document.file_count || document.file_count == '0') && modalDocument(document, $event);" ng-bind="cache.documentType.obj[document.activity_type_id]"></a></td>
    <td><a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[document.assignee_contact_id[0]].id}}" ng-bind="cache.contact.obj[document.assignee_contact_id[0]].sort_name"></a></td>
    <td ng-bind="(cache.assignmentType.obj[cache.assignment.obj[document.case_id].case_type_id].title || '-')"></td>
    <td ng-bind="(document.activity_date_time | date: 'dd/MM/yyyy') || '-'"></td>
    <td ng-bind="(document.expire_date | date: 'dd/MM/yyyy') || '-'"></td>
    <td>
        <div class="dropdown" dropdown>
            <a href class="dropdown-toggle"
               ng-class="{
                'text-danger-light': (document.status_id == 4),
                'text-success-light': (document.status_id == 3),
                'text-warning-light': (document.status_id == 1 || document.status_id == 2)
            }" dropdown-toggle>{{cache.documentStatus.obj[document.status_id]}} <i class="caret"></i></a>
            <ul class="dropdown-menu">
                <li ng-repeat="status in cache.documentStatus.arr"><a href ng-bind="status.value" ng-click="changeStatus(document, status.key)"></a></li>
            </ul>
        </div>
    </td>
    <td>
        <div class="dropdown" dropdown>
            <a href class="dropdown-toggle {{prefix}}context-menu-toggle" dropdown-toggle><i class="fa fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu pull-right">
                <li ng-show="document.file_count && document.file_count != '0'"><a ng-href="{{urlFile}}"><i class="fa fa-download"></i> Download</a></li>
                <li><a href ng-click="modalDocument(document, $event);"><i class="fa fa-pencil"></i> Edit</a></li>
                <li><a href ng-click="modalReminder(document);"><i class="fa fa-envelope-o"></i> Send reminder</a></li>
                <li><a href ng-click="deleteDocument(document);"><i class="fa fa-trash-o"></i> Delete</a></li>
            </ul>
        </div>
    </td>
</script>