<div class="{{prefix}}page-contact" ct-civi-events>
  <form name="formDocuments">
    <div class="panel panel-default {{prefix}}panel-action">
      <div class="panel-body form-horizontal">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-lg-6">
            <button class="btn btn-primary" ng-click="modalDocument()">
              <span class="fa fa-plus-circle" aria-hidden="true"></span>
              &nbsp; Add Document
            </button> &nbsp;
            <button class="btn btn-primary" ng-click="modalAssignment()" ng-if="settings.extEnabled.assignments">
              <span class="fa fa-plus-circle" aria-hidden="true"></span>
              &nbsp; {{settings.copy.button.assignmentAdd || 'Add Workflow'}}
            </button>
          </div>
          <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="form-group" ng-if="settings.extEnabled.assignments">
              <label class="col-xs-12 col-sm-3 control-label">Type:</label>
              <div class="col-xs-12 col-sm-9">
                <ui-select prevent-animations multiple ng-model="list.filterParams.assignmentType">
                  <ui-select-match prevent-animations class="ui-select-match" placeholder="Select workflow...">{{$item.title}}</ui-select-match>
                  <ui-select-choices prevent-animations class="ui-select-choices" repeat="type.id as type in cache.assignmentType.arr">
                    <div ng-bind-html="type.title | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="form-group">
              <label class="col-xs-12 col-sm-3 control-label">Status:</label>
              <div class="col-xs-12 col-sm-9">
                <ui-select prevent-animations multiple ng-model="list.filterParams.documentStatus" no-dropdown>
                  <ui-select-match prevent-animations class="ui-select-match" placeholder="Select status...">{{$item.value}}</ui-select-match>
                  <ui-select-choices prevent-animations class="ui-select-choices" repeat="status.key as status in cache.documentStatus.arr">
                    <div ng-bind-html="status.value | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="!listOngoing.length">
      <div ct-spinner ct-spinner-id="list">
        <table class="table table-striped {{prefix}}table-documents">
          <thead>
            <tr>
              <th ng-repeat="column in list.documentContactColumns"
                ng-click="list.sortBy(column.property)"
                ng-if="column.condition != undefined ? column.condition : true">
                  <span class="sortorder" ng-if="list.propertyName === column.property" ng-class="{reverse: list.reverse}"></span>
                  {{ column.label }}
              </th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="document in listOngoing = (listFiltered = (list.list
                | filterByStatus:list.filterParams.documentStatus
                | filterByAssignmentType:list.filterParams.assignmentType
                | orderBy: list.propertyName:list.reverse))"
              ng-controller="DocumentController"
              ng-include src="'document.html'">
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>

<script type="text/ng-template" id="document.html">
  <td>
    <a ng-href="{{fileUrl}}" ng-click="(!document.file_count || document.file_count == '0') && modalDocument('edit', document, $event);" ng-bind="cache.documentType.obj[document.activity_type_id]"></a>
  </td>
  <td ng-bind="(document.document_number) || '-'"></td>
  <td ng-if="document.assignee_contact_id">
    <a ng-repeat="(key, value) in list.listAssignees(document.assignee_contact_id)" ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[key].contact_id}}">
      {{value}} {{$last ? '' : ', '}}
    </a>
    <span ng-if="!document.assignee_contact_id.length"> - </span>
  </td>
  <td ng-if="settings.extEnabled.assignments" ng-bind="(cache.assignmentType.obj[cache.assignment.obj[document.case_id].case_type_id].title || '-')"></td>
  <td ng-bind="(document.valid_from | date: 'dd/MM/yyyy') || '-'"></td>
  <td ng-bind="(document.expire_date | date: 'dd/MM/yyyy') || '-'"></td>
  <td>
    <div class="dropdown" uib-dropdown>
      <a href class="dropdown-toggle" ng-class="{
         'text-danger-light': (document.status_id == 4 || document.status_id == 1),
         'text-success-light': (document.status_id == 3),
         'text-warning-light': (document.status_id == 2)
        }" uib-dropdown-toggle>
        {{cache.documentStatus.obj[document.status_id]}} <i class="caret"></i>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="status in cache.documentStatus.arr">
          <a href ng-bind="status.value" ng-click="list.changeStatus(document, status.key)"></a>
        </li>
      </ul>
    </div>
  </td>
  <td><a ng-href="{{fileUrl}}" ng-if="+document.file_count"><i class="fa fa-download"></i></a></td>
  <td>
    <div class="dropdown" uib-dropdown>
      <a href class="dropdown-toggle {{prefix}}context-menu-toggle" uib-dropdown-toggle><i class="fa fa-ellipsis-v"></i></a>
      <ul class="dropdown-menu pull-right" uib-dropdown-menu>
        <li ng-show="document.file_count && document.file_count != '0'"><a ng-href="{{fileUrl}}"><i class="fa fa-download"></i> Download</a></li>
        <li><a href ng-click="modalDocument('edit', document, $event);"><i class="fa fa-pencil"></i> Edit</a></li>
        <li><a href ng-click="modalReminder(document, 'document');"><i class="fa fa-envelope-o"></i> Send reminder</a></li>
        <li ng-if="permissions.allowDelete"><a href ng-click="list.deleteDocument(document);"><i class="fa fa-trash-o"></i> Delete</a></li>
      </ul>
    </div>
  </td>
</script>
