<div class="{{prefix}}page-contact" ct-civi-events>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8">
          <button class="btn btn-primary" ng-click="modalTask()">
            <span class="fa fa-plus-circle" aria-hidden="true"></span> &nbsp;Add Task
          </button> &nbsp;
          <button class="btn btn-primary" ng-click="modalAssignment()" ng-if="settings.extEnabled.assignments">
            <span class="fa fa-plus-circle" aria-hidden="true"></span> &nbsp;
            {{settings.copy.button.assignmentAdd || 'Add Workflow'}}
          </button>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4" ng-if="settings.extEnabled.assignments">
          <ui-select prevent-animations multiple ng-model="list.filterParams.assignmentType">
            <ui-select-match prevent-animations class="ui-select-match" placeholder="Select workflow...">{{$item.title}}</ui-select-match>
            <ui-select-choices prevent-animations class="ui-select-choices" repeat="type.id as type in cache.assignmentType.arr">
              <div ng-bind-html="type.title | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>
  <h4 class="header-bar header-bar-primary" ng-show="listOngoing.length">Ongoing:</h4>
  <ul class="{{prefix}}list-task">
    <li
      ng-repeat="task in listOngoing = (listFiltered = (list.list
        | filterByAssignmentType:list.filterParams.assignmentType
        | orderBy: 'activity_date_time') | filterByStatus:cache.taskStatusResolve:false)"
      ng-class="{
        '{{prefix}}task-completed': task.completed,
        '{{prefix}}task-due': task.due
      }"
      ct-spinner ct-spinner-id="task{{task.id}}">
      <task-details
        created-by="cache.contact.obj[task.source_contact_id]"
        on-delete-click="list.deleteTask(task);"
        on-edit-click="modalTask(task);"
        on-send-reminder-click="modalReminder(task, 'task');"
        status="cache.taskStatus.obj[task.status_id]"
        task="task">
        <task-title>
          <a href class="{{prefix}}task-title" ng-click="modalTask(task);" ng-bind="cache.taskType.obj[task.activity_type_id]"></a>
        </task-title>
      </task-details>
    </li>
  </ul>
  <h4 class="header-bar header-bar-danger">Resolved:
    <a href class="pull-right" ng-click="list.loadTasksResolved(); list.isCollapsed.taskListResolved = !list.isCollapsed.taskListResolved">
      <i ng-class="{fa: true, 'fa-chevron-down': !list.isCollapsed.taskListResolved, 'fa-chevron-up': list.isCollapsed.taskListResolved }"></i>
    </a>
  </h4>
  <div uib-collapse="list.isCollapsed.taskListResolved">
    <div class="well {{prefix}}spinner-container" ng-show="!list.listResolvedLoaded">
      Loading resolved tasks...
      <div class="{{prefix}}spinner-cover spinner"></div>
    </div>
    <div class="alert alert-danger" ng-show="list.listResolvedLoaded && !listResolved.length">No results found.</div>
    <ul class="{{prefix}}list-task">
      <li
        ng-repeat="task in listResolved = (listFiltered
          | filterByStatus:cache.taskStatusResolve:true)"
        ng-class="'{{prefix}}task-resolved'"
        ct-spinner>
        <task-details
          created-by="cache.contact.obj[task.source_contact_id]"
          on-delete-click="list.deleteTask(task);"
          on-edit-click="modalTask(task);"
          on-send-reminder-click="modalReminder(task, 'task');"
          status="cache.taskStatus.obj[task.status_id]"
          task="task">
          <task-title>
            <a href class="{{prefix}}task-title" ng-click="modalTask(task);" ng-bind="cache.taskType.obj[task.activity_type_id]"></a>
          </task-title>
        </task-details>
      </li>
    </ul>
  </div>
</div>
