<div class="{{prefix}}page-contact" ct-civi-events>
    <form name="formTasks">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <button class="btn btn-default btn-primary" ng-click="modalTask()">
                            <span class="fa fa-plus-circle" aria-hidden="true"></span> &nbsp;Add Task
                        </button>
                        &nbsp;
                        <button class="btn btn-default btn-primary" ng-click="modalAssignment()">
                            <span class="fa fa-plus-circle" aria-hidden="true"></span> &nbsp;Add Assignment
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <ui-select
                                multiple
                                ng-model="filterParams.assignmentType">
                            <ui-select-match placeholder="Select assignment...">{{$item.title}}</ui-select-match>
                            <ui-select-choices repeat="type.id as type in cache.assignmentType.arr">
                                <div ng-bind-html="type.title | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="taskListFiltered.length">
            <h4 class="header-bar header-bar-primary" ng-hide="!taskListOngoing.length">Ongoing:</h4>
            <ul class="{{prefix}}list-task">
                <li ng-repeat="task in taskListOngoing = (taskListFiltered = (taskList | filterBy.assignmentType:filterParams.assignmentType | orderBy: 'activity_date_time') | filterBy.status:cache.taskStatusResolve:false)"
                    ng-controller="TaskCtrl"
                    ng-class="{
                        '{{prefix}}task-completed': task.completed,
                        '{{prefix}}task-due': task.due
                    }"
                    ng-include
                    src="'task.html'"
                    ct-spinner
                    ct-spinner-id="task{{task.id}}">
                </li>
            </ul>
            <h4 class="header-bar header-bar-danger" ng-hide="!taskListResolved.length">Resolved:</h4>
            <ul class="{{prefix}}list-task">
                <li ng-repeat="task in taskListResolved = (taskListFiltered | filterBy.status:cache.taskStatusResolve:true)"
                    ng-controller="TaskCtrl"
                    ng-class="'{{prefix}}task-resolved'"
                    ng-include
                    src="'task.html'"
                    ct-spinner>
                </li>
            </ul>
        </div>
    </form>
</div>

<script type="text/ng-template" id="task.html">
    <header class="row">
        <div class="col-xs-6">
            <input type="checkbox"
                   ng-change="changeStatus(task, 2)"
                   ng-disabled="task.completed"
                   ng-model="task.completed"
                   class="{{prefix}}task-checkbox"
                   name="task">
            <a href class="{{prefix}}task-title"  ng-click="modalTask(task);" ng-bind="cache.taskType.obj[task.activity_type_id]"></a>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-5 text-right">
                    <span class="{{prefix}}assignment-type" ng-bind="cache.assignmentType.obj[cache.assignment.obj[task.case_id].case_type_id].title"></span>
                </div>
                <div class="col-xs-7">
                    <div class="dropdown" dropdown>
                        <a href class="dropdown-toggle {{prefix}}context-menu-toggle pull-right" dropdown-toggle><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href ng-click="modalTask(task);"><i class="fa fa-pencil"></i> Edit</a></li>
                            <li><a href ng-click="modalReminder(task);"><i class="fa fa-envelope-o"></i> Send reminder</a></li>
                            <li><a href ng-click="deleteTask(task);"><i class="fa fa-trash-o"></i> Delete</a></li>
                        </ul>
                    </div>
                    <a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.assignee_contact_id[0]].id}}" class="{{prefix}}task-contact-assignee" ng-bind="cache.contact.obj[task.assignee_contact_id[0]].sort_name"></a>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <p class="{{prefix}}task-subject">Due: <time ng-bind="task.activity_date_time | date: 'MMM d'"></time> <span ng-if="!!task.subject">Subject: {{task.subject}}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><a href ng-click="isCollapsed = !isCollapsed" class="btn btn-collapse"><span
                    class="fa"
                    ng-class="{fa: true, 'fa-chevron-down': !isCollapsed, 'fa-chevron-right': isCollapsed }"
                    aria-hidden="true"></span> Details</a></p>
            <article class="row" collapse="isCollapsed">
                <div class="col-xs-12">
                    <div ta-bind class="{{prefix}}task-details" ng-if="!!task.details" ng-model="task.details"></div>
                    <p class="{{prefix}}task-contact-source">Assigned by:&nbsp; <a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.source_contact_id].id}}"><span ng-bind="cache.contact.obj[task.source_contact_id].sort_name"></span></a></p>
                </div>
            </article>
        </div>
    </div>
</script>