.#{$prefix}context-menu-toggle {
  color: $gray;
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;

  &:hover {
    color: $brand-primary;
  }
}

.#{$prefix}btn-list-expand {
  @include box-shadow($box-shadow-global);
  background-color: $btn-default-bg;
  border: 0 none;
  color: $btn-default-color;
  max-width: 119px;
  margin: 28px auto 13px;
  padding: 9px 12px;
}