##{$prefix}dashboard {
  margin-top: 25px;

  .#{$prefix}container-main {
    background-color: $sidebar-main-bg;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .#{$prefix}container-inner {
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .#{$prefix}sidebar-inner {
    + .#{$prefix}content-wrapper {
      background-color: $brand-secondary;
    }
  }

  .panel {
    margin-bottom: 15px;
  }

  .panel-filter {
    margin-bottom: 0;
  }

  .#{$prefix}dashboard-settings {
    background-color: #fff;
  }

  .#{$prefix}dashboard-tasks {
    .#{$prefix}list-task,
    .#{$prefix}list-task + .header-bar {
      margin-left: 10px;
    }

    .#{$prefix}list-task {
      > li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .#{$prefix}dashboard-key-dates {
    .ct-sidebar-inner + .ct-content-wrapper > .ct-content {
      min-height: 515px;
    }

    .#{$prefix}csv-export {
      font-size: 11px;
      margin-left: 30px;
      position: relative;
      top: 1px;
    }

    .#{$prefix}list-key-dates {
      margin-left: 10px;

      > li {
        margin-bottom: 0px;
      }

      > li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .#{$prefix}dashboard-calendar {
    min-height: 675px;

    .header-bar {
      .#{$prefix}cal-prev,
      .#{$prefix}cal-next {
        margin-top: -10px;
        padding: 10px;
      }

      .#{$prefix}cal-prev {
        float: left;
        margin-left: -10px;
      }

      .#{$prefix}cal-next {
        float: right;
        margin-right: -10px;
      }
    }

    .#{$prefix}documents-container {
      @include box-shadow($box-shadow-global);
    }

    .header-bar-dark,
    .header-bar-danger-light {
      margin-bottom: 10px;
    }

    .btn-cal-view {
      min-width: 70px;
    }

    .#{$prefix}list-task {
      margin-bottom: 15px;
    }

    .#{$prefix}view-day {
      @include grid-condensed(7.5px);

      .#{$prefix}datepicker table {
        table-layout: fixed;
        max-width: 100%;
      }
    }

  }

}