##{$prefix}dashboard {
  margin-top: 25px;

  .#{$prefix}container-main {
    background-color: $sidebar-main-bg;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .#{$prefix}container-inner {
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .#{$prefix}sidebar-inner {
    + .#{$prefix}content-wrapper {
      background-color: $brand-secondary;
    }
  }

  .#{$prefix}list-task,
  .#{$prefix}list-task + .header-bar,
  .#{$prefix}list-key-dates {
    margin-left: 10px;
  }

  .panel {
    margin-bottom: 0;
  }
}