.#{$prefix}filter-date {
  margin-top: -15px;

  hr {
    margin-bottom: 5px;
    margin-top: 4px;
  }

  .nav {
    margin-left: -$panel-body-padding;
    margin-right: -$panel-body-padding;

    > li {
      margin-top: 0;

      > a {
        color: $headings-color;
        font-size: $btn-font-size;
        font-weight: $btn-font-weight;
        padding: 12px 20px 13px 19px;
        text-transform: uppercase;

        &.active {
          background-color: $brand-primary;
          color: $panel-bg;

          .badge:not(.badge-danger) {
            background-color: $panel-bg !important;
            color: $brand-primary;
          }
        }
      }

      .badge {
        float: right;
        position: relative;
      }

      .fa {
        position: absolute;
        right: 58px;
        top: 15px;
        font-size: 11px;

        &:hover,
        &:focus {
          @include opacity(0.7);
        }
      }
    }
  }

  .#{$prefix}select-dates {
    color: $headings-color;
    font-size: $btn-font-size;
    margin-bottom: 8px;
    margin-left: -$panel-body-padding;
    margin-right: -$panel-body-padding;
    padding: 9px 14px 8px 16px;
    text-align: left;
    width: auto;

    em {
      color: $gray;
    }

    .fa {
      float: right;
      line-height: 1.6;
    }

    &:active {
      @include box-shadow(0 0 0 0);
    }

    &:hover {
      color: darken($headings-color, 15%);
    }
  }
}

.#{$prefix}filter-advanced {
  max-width: 817px;

  @include grid-condensed(5px);

  .form-horizontal {
    .control-label {
      text-align: right;
    }

    .form-group {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}

.#{$prefix}filter-date-type {
  margin-top: -6px;
  margin-bottom: -7px;
  width: 100%;
  float: right;
  @include grid-condensed(5px);

  .form-horizontal {
    .control-label {
      text-align: right;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}