.form-task {
  h3 {
    margin-top: 0;
  }

  .btn-indent {
    margin-left: -13px;
  }
}

.form-task-migrate {
  label {
    text-transform: capitalize;
  }
}

.#{$prefix}form-action {
  margin-top: -12px;
  margin-bottom: -12px;
  max-width: 817px;
  width: 100%;
  float: left;

  .row,
  .form-horizontal .form-group {
    margin: {
      bottom: 0;
      left: -5px;
      right: -5px;
    };
  }

  .form-horizontal .control-label {
    text-align: right;
  }

  [class^="col-"],
  [class*=" col-"] {
    padding: {
      left: 5px;
      right: 5px;
    }
  }
}

.ui-select-required {
  display: table;
  max-width: 100%;
  position: relative;
  width: 100%;

  .ui-select-container {
    display: table-cell;
  }

  &:after {
    content: "*";
    color: red;
    display: table-cell;
    padding-left: 3px;
    position: absolute;
    top: 0;
  }
}