.form-task {
  h3 {
    margin-top: 0;
  }

  .btn-indent {
    margin-left: -13px;
  }
}

.form-assignment{
  h2 {
    font-size: 16px;
    line-height: 32px;
    margin: 0;
  }

  hr {
    margin: 0 -15px 10px -15px;
  }

  .row{
    margin-bottom: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  /* Bootstrap override */
  .input-group-addon{
    background: transparent;
    border: none;

    a{
      color: #333333;
    }
  }

  .separately{
    margin-bottom: 20px;
  }

  .no-wrap{
    white-space: nowrap;
  }

  .civihr-table {
    margin-top: 10px;
    border: 1px solid #e8eef0;
    background-color: #FDFEFE;

    &.civihr-table--striped{
      tbody, tfoot {
        tr:nth-child(odd) {
          background-color: #F4F7F8;
        }
      }
    }
  }
}

.form-task-migrate {
  label {
    text-transform: capitalize;
  }
}

.#{$prefix}form-action {
  margin-top: -12px;
  margin-bottom: -12px;
  max-width: 817px;
  width: 100%;
  float: left;

  .row,
  .form-horizontal .form-group {
    margin: {
      bottom: 0;
      left: -5px;
      right: -5px;
    }
  ;
  }

  .form-horizontal .control-label {
    text-align: right;
  }

  [class^="col-"],
  [class*=" col-"] {
    padding: {
      left: 5px;
      right: 5px;
    }
  }
}

.ui-select-required {
  display: table;
  max-width: 100%;
  position: relative;
  width: 100%;

  .ui-select-container {
    display: table-cell;
  }

  &:after {
    content: "*";
    color: red;
    display: table-cell;
    padding-left: 3px;
    position: absolute;
    top: 0;
  }
}