.form-task {
  h3 {
    margin-top: 0;
  }

  .btn-indent {
    margin-left: -13px;
  }
}

.form-task-migrate {
  label {
    text-transform: capitalize;
  }
}

.#{$prefix}form-action {
  margin-top: -12px;
  margin-bottom: -12px;
  max-width: 817px;
  width: 100%;
  float: left;

  .row,
  .form-horizontal .form-group {
    margin: {
      bottom: 0;
      left: -5px;
      right: -5px;
    };
  }

  .form-horizontal .control-label {
    text-align: right;
  }

  [class^="col-"],
  [class*=" col-"] {
    padding: {
      left: 5px;
      right: 5px;
    }
  }
}

.ui-select-required {
  display: table;
  max-width: 100%;
  position: relative;
  width: 100%;

  .ui-select-container {
    display: table-cell;
  }

  &:after {
    content: "*";
    color: red;
    display: table-cell;
    padding-left: 3px;
    position: absolute;
    top: 0;
  }
}

.editable {
  @include transition(border-color ease-in-out .15s);
  border: 1px solid transparent;
  padding: 3px 35px 3px 3px;
  position: relative;

  .fa-pencil {
    @include transition(opacity ease-in-out .15s);
    background-color: #f4f7f8;
    height: 100%;
    padding: 6px 6px 5px 6px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    border-left: 1px solid $gray-light;
    opacity: 0;
  }

  &:hover {
    border-color: $gray-light;
    .fa-pencil {
      opacity: 1;
    }
  }

}

.editable-wrap {
  position: relative;
  
  input,
  select {
    height: 25px;
    padding: 3px;
  }

  .editable-buttons {
    right: 0;
    position: absolute;
    bottom: -24px;
    z-index: 999;

    .btn {
      background-color: #f4f7f8;
      border-color: $gray-light;
      font-size: 11px;
      font-weight: normal;
      margin-left: -1px;
      padding: 4px 6px;
      height: 25px;

      &:active,
      &:focus {
        background-color: #f4f7f8;
        outline: none;
      }
    }

    .glyphicon-ok {
      color: $brand-primary;
    }

    .glyphicon-remove {
      color: $brand-danger;
    }
  }

  .form-control:focus {
    @include box-shadow(none);
    border-color: $gray-light;
  }
}

.editable-click {
  color: inherit;
  
  &:hover {
    color: inherit;
  }
}