@mixin global {
  min-height: 184px;

  &.#{$prefix}page-loading {
    background-color: #fff;
    z-index: 0;
    min-height: 640px;

    .container,
    .container-fluid {
      display: none;
    }
  }

}

@at-root {
  .page-civicrm-tasksassignments-dashboard {
    #branding {
      display: none;
    }

    #page {
      padding: 0;
      margin: 0;
    }
  }
}