.#{$prefix}list-task {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    @include box-shadow($box-shadow-global);
    background-color: $panel-bg;
    border-left: 5px solid $brand-success;
    color: $gray;
    margin: {
      bottom: 10px;
      top: 10px;
    };
    padding: {
      bottom: 7px;
      left: 35px;
      right: 20px;
      top: 12px;
    };

    &.#{$prefix}task-due {
      border-color: $brand-danger;

      time {
        color: $brand-danger;
      }
    }

    &.#{$prefix}task-completed {
      .#{$prefix}task-title {
        text-decoration: line-through;
      }
    }
  }

  .btn-collapse {
    color: $text-color;
    font-size: $font-size-base;
    font-weight: normal;
    margin-bottom: 8px;
    margin-left: -20px;
    text-transform: none;

    .fa {
      font-size: 10px;
      margin-right: 9px;
      top: 0;

      &.fa-chevron-down {
        margin-right: 6px;
      }
    }

    &:hover,
    &:focus {
      color: darken($text-color, 15%);
    }
  }

  header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;

    .editable-ui-select {
      margin-top: -4px;
    }
  }

  time {
    color: $brand-success;
  }

  .ui-select-container {
    display: inline-block;
  }

  .#{$prefix}context-menu-toggle  {
    margin-right: -9px;
    float: right;
    width: 30px;
  }

  .#{$prefix}assignment-type, {
    padding-left: 105px;
  }

  .#{$prefix}assignment-type,
  .#{$prefix}task-title {
    color: $gray-dark;

    &:hover {
      color: darken($gray-dark, 15%);
    }
  }

  .#{$prefix}task-checkbox {
    margin-left: -20px;
    margin-right: 4px;
    float: left;
    margin-top: 6px;
  }

  .#{$prefix}task-contact-assignee,
  .#{$prefix}task-contact-target {
    padding-left: 5px;
  }

  .#{$prefix}task-contact-source {
    margin-bottom: 0;
  }

  .#{$prefix}task-details {
    p {
      margin-bottom: 16px;
    }
  }

  .#{$prefix}task-more {
    background-color: #f4f7f8;
    border: 1px solid #eef2f3;
    padding: 9px 8px;
    margin-bottom: 12px;
    line-height: 23px;
  }

  .#{$prefix}task-subject {
    font-size: 12px;
    margin-bottom: 14px;

    time {
      margin-right: 12px;
      margin-left: 7px;
    }
  }

  + .header-bar {
    margin-top: 15px;
  }

  &.#{$prefix}list-task-small {
    header {
      font-size: 13px;
    }

    .#{$prefix}task-checkbox {
      margin-top: 3px;
    }

    .#{$prefix}assignment-type {
      padding-left: 85px;
    }
  }

}

.#{$prefix}list-key-dates {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: $text-color;

    &:hover {
      color: darken($text-color, 15%);
    }
  }

  strong {
    color: #5b6779;
    padding-right: 5px;
  }

  time {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 0 2px;

    span {
      color: $text-color;
    }
  }

  > li {
    margin-top: 10px;
  }

  .period_start_date {
    color: #eca67f;
  }

  .period_end_date {
    color: #c096aa;
  }

  .panel {
    @include box-shadow($box-shadow-global);

    > .list-group {
      .list-group-item {
        border-width: 0;
        margin: 0;
        padding: 0 15px 11px;

        &:first-child {
          padding-top: 11px;
        }
      }
    }
  }

  .panel-heading {
    padding: 11px 15px 12px;
  }

}