.#{$prefix}sidebar-main {
  > li {

    > a {
      color: $headings-color;
      font-weight: $btn-font-weight;
      line-height: $btn-line-height;
      padding: 16px 17px 15px;
      position: relative;
      text-transform: uppercase;
      z-index: 1;


      &:hover,
      &:focus {
        background-color: darken($sidebar-main-bg, 10%);
      }

      .#{$prefix}sidebar-main-title {
        font-size: $btn-font-size;
        padding-left: 13px;
      }
    }

    &.active {
      > a {
        background-color: $body-bg;
        color: $link-color;

        &:hover {
          background-color: darken($body-bg, 5%);
        }
      }
    }
  }
}