// This is all temporary until the Bootstrap consolidation happens!


// Include the original ui-select css + the civihr-ui-select dropdown theme
@import "../../../../../org.civicrm.shoreditch/scss/bootstrap/vendor/ui-select/ui-select";
@import "../../../../../civihr/org.civicrm.bootstrapcivihr/scss/components/civihr-ui-select/civihr-ui-select";

// Customizations specific for T&A
.civihr-ui-select {
  * {
    border-color: $brand-primary !important;
  }

  .select2-search-choice {
    font-size: 13px;
  }

  .select2-search-choice-close {
    background: none !important;
    top: 3px !important;
  }

  & a.select2-search-choice-close {
    top: 0 !important;
  }

  &.open {
    .select2-chosen {
      border: 1px solid $dropdown-border !important;
      padding-left: 12px !important;
      border-bottom: 0 !important;
    }

    .select2-arrow {
      line-height: 31px;
    }
  }

  .select2-drop-active {
    @extend %ui-select-border;
    border-top: 0 !important;
  }

  .select2-chosen {

    &.empty {
      color: $crm-gray-matte !important;
    }

    span {
      color: $gray-dark;
    }
  }

  &.ui-select-multiple {
    &:not(.open) {
      .select2-choices::before {
        content: '\f002' !important;
      }
    }
  }
}

// Do not display dropdown for ui-select-multiple with attribute no-dropdown
[no-dropdown].ui-select-multiple {
  &:after {
    display: none;
  }
}
