// Variables for Sidebar
$light-blue:        #41AFCB;
$white:             #FFFFFF;
$secondary-colour:  #707C88;
$sidebar-main-bg:   #fff;

$dashboard-sidebar-color: $brand-secondary;

$content-min-height: 550px;
$dashboard-sidebar-width: 225px;
$sidebar-width: 170px;
