// Variables for Sidebar
$light-gray : #D2D2D2;
$secondary-colour: #707C88;
$sidebar-main-bg: #fff;

$dashboard-sidebar-color: $brand-secondary;

$content-min-height: 550px;
$dashboard-sidebar-width: 225px;
$sidebar-width: 170px;
