.btn {
  text-transform: uppercase;
}

.btn-gray {
  color: #767e8f;
  background-color: #fff;
  border-color: #767e8f;

  &:hover,
  &:focus,
  &.btn-focus {
    color: darken(#767e8f, 15%);
    border-color: darken(#767e8f, 15%);
  }

  &.active {
    background-color: #767e8f;
    color: #fff;

    &:hover,
    &:focus,
    &.btn-focus {
      background-color: darken(#767e8f, 10%);
      color: #fff;
    }
  }
}

.btn-collapse {
  background: none;
  border: 0 none;
  color: $gray;
  font-weight: normal;
  padding: 0;
  cursor: pointer;
  text-transform: none;
  vertical-align: baseline;

  &:hover {
    color: darken($gray, 15%);
  }

  &:active {
    @include box-shadow(none);
  }

  .fa {
    margin-right: 3px;
    font-size: 9px;
    position: relative;
    top: -1px;
  }
}