.btn {
  text-transform: uppercase;
  @include border-radius($border-radius-alt);

  &.active {
    box-shadow: none;
  }
}

.btn-link {
  font-weight: 600;
}

.btn-gray {
  color: $gray-dark;
  background-color: $btn-default-bg;
  border-color: $gray-dark;

  &:hover,
  &:focus,
  &.btn-focus,
  &.btn-active,
  &.active {
    color: $btn-default-bg;
    background-color: darken($gray-dark, $crm-darken-percentage);
    border-color: darken($gray-dark, $crm-darken-percentage);
    box-shadow: none;
  }

}

.btn-collapse {
  background: none;
  border: 0 none;
  color: $brand-secondary-text;
  font-weight: normal;
  padding: 0;
  cursor: pointer;
  text-transform: none;
  vertical-align: baseline;

  &:hover {
    color: darken($gray-dark, $crm-darken-percentage);
  }

  &:active {
    @include box-shadow(none);
  }

  .fa {
    margin-right: 3px;
    font-size: 9px;
    position: relative;
    top: -1px;
  }
}

.#{$prefix}context-menu-toggle {
  color: $gray;
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;

  &:hover {
    color: $brand-primary;
  }
}

.btn-group.open {
  .#{$prefix}context-menu-toggle.dropdown-toggle {
    @include box-shadow(none);
  }
}