<h4 class="header-bar header-bar-dark">Tasks:</h4>
<ul class="{{prefix}}list-task {{prefix}}list-task-small">
  <li ng-repeat="task in listOngoing = (list.list
    | filterByStatus:cache.taskStatusResolve:false
    | filterByDateField:'dateRange':'activity_date_time':{ from: calendarDay, until: calendarDay }
    | orderBy: 'activity_date_time')"
    ng-class="{
      '{{prefix}}task-completed': task.completed,
      '{{prefix}}task-due': task.due
    }"
    ct-spinner ct-spinner-id="task{{task.id}}">
    <task-details
      created-by="cache.contact.obj[task.source_contact_id]"
      on-delete-click="list.deleteTask(task);"
      on-edit-click="modalTask(task);"
      on-send-reminder-click="modalReminder(task, 'task');"
      task="task">
      <task-title>
        <a href class="{{prefix}}task-title" ng-click="modalTask(task);" ng-bind="cache.taskType.obj[task.activity_type_id]"></a>:
        <span editable-ui-select="task.target_contact_id[0]" e-required="true" ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.target_contact_id[0]].id}}" onbeforesave="list.updateTask(task, { target_contact_id: [$data] });" onshow="list.updateContacts(cache.contact.arrSearch);"
            on-select="list.cacheContact($item);">
          <editable-ui-select-match placeholder="Start typing a name or email...">{{$select.selected.label}}</editable-ui-select-match>
          <editable-ui-select-choices repeat="contact.id as contact in list.contacts | filter: $select.search" refresh="list.refreshContacts($select.search)" refresh-delay="0">
            <div ng-bind="contact.label"></div>
            <small ng-bind="contact.description[0]"></small>
          </editable-ui-select-choices>
          <i class="fa fa-pencil"></i>
          {{cache.contact.obj[task.target_contact_id[0]].sort_name}}
        </span>
      </task-title>
      <task-target-contact>
        Assigned to:
        <span editable-ui-select="task.assignee_contact_id[0]" e-required="true" ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.assignee_contact_id[0]].id}}" onshow="list.updateContacts(cache.contact.arrSearch);" onbeforesave="list.updateTask(task, { assignee_contact_id: [$data] });"
            on-select="list.cacheContact($item);">
          <editable-ui-select-match placeholder="Start typing a name or email...">{{$select.selected.label}}</editable-ui-select-match>
          <editable-ui-select-choices repeat="contact.id as contact in list.contacts | filter: $select.search" refresh="list.refreshContacts($select.search)" refresh-delay="0">
            <div ng-bind="contact.label"></div>
            <small ng-bind="contact.description[0]"></small>
          </editable-ui-select-choices>
          <i class="fa fa-pencil"></i>
          {{cache.contact.obj[task.assignee_contact_id[0]].sort_name}}
        </span>
      </task-target-contact>
    </task-details>
  </li>
</ul>
