<h4 class="header-bar header-bar-dark">Tasks:</h4>
<ul class="{{prefix}}list-task {{prefix}}list-task-small">
    <li ng-repeat="task in taskListOngoing = (taskList
                        | filterBy.status:cache.taskStatusResolve:false
                        | filterBy.due:'dateRange':{ from: calendarDay, until: calendarDay }
                        | orderBy: 'activity_date_time')"
        ng-controller="TaskCtrl"
        ng-class="{
            '{{prefix}}task-completed': task.completed,
            '{{prefix}}task-due': task.due
        }"
        ng-include
        src="'task.html'"
        ct-spinner
        ct-spinner-id="task{{task.id}}">
    </li>
</ul>

<script type="text/ng-template" id="task.html">
    <header class="row">
        <div class="col-xs-7">
            <input type="checkbox"
                   ng-change="changeStatus(task, 2)"
                   ng-disabled="task.completed"
                   ng-model="task.completed"
                   class="{{prefix}}task-checkbox"
                   name="task">
            <a href class="{{prefix}}task-title"  ng-click="modalTask(task);" ng-bind="cache.taskType.obj[task.activity_type_id]"></a>:
            <a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.target_contact_id[0]].id}}" class="{{prefix}}task-contact-target" ng-bind="cache.contact.obj[task.target_contact_id[0]].sort_name"></a>
        </div>
        <div class="col-xs-5">
            <div class="dropdown" dropdown>
                <a href class="dropdown-toggle {{prefix}}context-menu-toggle pull-right" dropdown-toggle><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href ng-click="modalTask(task);"><i class="fa fa-pencil"></i> Edit</a></li>
                    <li><a href ng-click="modalReminder(task, 'task');"><i class="fa fa-envelope-o"></i> Send reminder</a></li>
                    <li ng-if="permissions.allowDelete"><a href ng-click="deleteTask(task);"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
            </div>
            Assigned to: <a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.assignee_contact_id[0]].id}}" class="{{prefix}}task-contact-assignee" ng-bind="cache.contact.obj[task.assignee_contact_id[0]].sort_name"></a>
        </div>
    </header>
    <div class="row">
        <div class="col-xs-7">
            <p class="{{prefix}}task-subject">Due: <time ng-bind="task.activity_date_time | date: 'MMM d'"></time> <span ng-if="!!task.subject">Subject: {{(task.subject | limitTo: 60) + (task.subject.length > 60 ? '...' : '')}}</span></p>
        </div>
        <div class="col-xs-5">
            <span class="{{prefix}}assignment-type" ng-bind="cache.assignmentType.obj[cache.assignment.obj[task.case_id].case_type_id].title"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href ng-click="isCollapsed = !isCollapsed" class="btn btn-collapse"><span
                    class="fa"
                    ng-class="{fa: true, 'fa-chevron-down': !isCollapsed, 'fa-chevron-right': isCollapsed }"
                    aria-hidden="true"></span> Show more</a>
            <article class="row" collapse="isCollapsed">
                <div class="col-xs-12">
                    <div class="{{prefix}}task-more">
                        <div class="{{prefix}}task-details" ta-bind ng-if="!!task.details" ng-model="task.details"></div>
                        <p class="{{prefix}}task-contact-source">Created by:&nbsp; <a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.source_contact_id].id}}"><span ng-bind="cache.contact.obj[task.source_contact_id].sort_name"></span></a></p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</script>