<div class="{{prefix}}sidebar {{prefix}}sidebar-inner">
  <div class="panel panel-light  panel-secondary">
    <div class="panel-heading">
      <h3 class="panel-title">View Documents By:</h3>
    </div>
    <div class="panel-body">
      <sidebar-filters>
        <div class="form-group">
          <label for="{{prefix}}filter-date-until" class="col-xs-12 col-sm-3 control-label">
            Status
          </label>
          <div class="col-xs-12 col-sm-9">
            <ui-select prevent-animations multiple ng-model="list.filterParamsHolder.documentStatus" no-dropdown>
              <ui-select-match prevent-animations class="ui-select-match" placeholder="Select status...">
                {{$item.value}}
              </ui-select-match>
              <ui-select-choices prevent-animations class="ui-select-choices" repeat="status.key as status in cache.documentStatus.arr">
                <div ng-bind-html="status.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </sidebar-filters>
    </div>
  </div>
</div>
<div class="{{prefix}}content-wrapper">
  <div class="{{prefix}}content">
    <div class="panel panel-light panel-secondary panel-filter">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <h3 class="panel-title">{{list.label[list.filterParams.due]}}</h3>
          </div>
          <div class="col-xs-12 col-sm-6 text-center">
            <div class="btn-group btn-group-sm">
              <a
                ui-sref="documents.my"
                class="btn btn-gray active panel-filter__filter"
                ng-model="list.filterParams.ownership"
                uib-btn-radio="'assigned'">
                My Docs
              <span>
                ({{
                  ((list.filterByDateField(list.filterParams.due)) |
                  filterByStatus:list.filterParams.documentStatus |
                  filterByOwnership:'assigned').length
                }})
              </span>
              </a>
              <a
                ui-sref="documents.delegated"
                class="btn btn-gray panel-filter__filter"
                ng-model="list.filterParams.ownership"
                uib-btn-radio="'delegated'">
                Delegated Docs
              <span>
                ({{
                  ((list.filterByDateField(list.filterParams.due)) |
                  filterByStatus:list.filterParams.documentStatus |
                  filterByOwnership:'delegated').length
                }})
              </span>
              </a>
              <a
                ui-sref="documents.all"
                class="btn btn-gray panel-filter__filter"
                ng-model="list.filterParams.ownership"
                uib-btn-radio="null">
                All
              <span>
                ({{
                  (list.list |
                  filterByDateField:list.filterParams.due:list.filterParams.dateRange |
                  filterByStatus:list.filterParams.documentStatus).length
                }})
              </span>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 text-right">
            <a href ng-click="list.isCollapsed.filterAdvanced = !list.isCollapsed.filterAdvanced" class="btn btn-collapse">
              <span class="fa"
                ng-class="{ fa: true, 'fa-chevron-down': !list.isCollapsed.filterAdvanced, 'fa-chevron-right': list.isCollapsed.filterAdvanced }"
                aria-hidden="true">
              </span>
              Filter Documents
            </a>
          </div>
        </div>
        <div class="{{prefix}}filter-advanced" uib-collapse="list.isCollapsed.filterAdvanced">
          <div class="row form-horizontal">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="col-xs-12 col-sm-2 control-label">Contact:</label>
                <div class="col-xs-12 col-sm-10">
                  <div class="input-group">
                    <ui-select
                      prevent-animations
                      allow-clear
                      ng-model="list.filterParams.contactId">
                      <ui-select-match prevent-animations class="ui-select-match"
                        placeholder="Search / Filter">{{$select.selected.label}}</ui-select-match>
                      <ui-select-choices prevent-animations class="ui-select-choices" repeat="contact.id as contact in cache.contact.arrSearch | filter: $select.search"
                        refresh-delay="0">
                        <div ng-bind="contact.label"></div>
                        <small ng-bind="contact.description[0]"></small>
                      </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                    <a ng-click="list.filterParams.contactId = ''" class="btn btn-default">
                    <span class="fa fa-remove"></span>
                    </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="col-xs-12 col-sm-4 control-label">Assignment Type:</label>
                <div class="col-xs-12 col-sm-8">
                  <ui-select
                    prevent-animations
                    multiple
                    ng-model="list.filterParams.assignmentType">
                    <ui-select-match prevent-animations class="ui-select-match" placeholder="Select assignment...">{{$item.title}}</ui-select-match>
                    <ui-select-choices prevent-animations class="ui-select-choices" repeat="type.id as type in cache.assignmentType.arr">
                      <div ng-bind-html="type.title | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="{{prefix}}documents-container" ct-spinner ct-spinner-id="list">
            <table class="table table-striped {{prefix}}table-documents">
              <thead>
                <tr>
                  <th ng-click="sortBy('type')">
                    <span class="sortorder" ng-if="propertyName === 'type'" ng-class="{reverse: reverse}"></span>
                    Type
                  </th>
                  <th ng-click="sortBy('target_contact_id')">
                    <span class="sortorder" ng-if="propertyName === 'target_contact_id'" ng-class="{reverse: reverse}"></span>
                    Staff
                  </th>
                  <th ng-click="sortBy('assignee')">
                    <span class="sortorder" ng-if="propertyName === 'assignee'" ng-class="{reverse: reverse}"></span>
                    Assignee
                  </th>
                  <th ng-click="sortBy('case_id')" ng-if="settings.extEnabled.assignments">
                    <span class="sortorder" ng-if="propertyName === 'case_id'" ng-class="{reverse: reverse}"></span>
                    Assignment
                  </th>
                  <th ng-click="sortBy('activity-date-time')">
                    <span class="sortorder" ng-if="propertyName === 'activity-date-time'" ng-class="{reverse: reverse}"></span>
                    Due Date
                  </th>
                  <th ng-click="sortBy('expire_date')">
                    <span class="sortorder" ng-if="propertyName === 'expire_date'" ng-class="{reverse: reverse}"></span>
                    Expiry Date
                  </th>
                  <th ng-click="sortBy('status_id')">
                    <span class="sortorder" ng-show="propertyName === 'status_id'" ng-class="{reverse: reverse}"></span>
                    Status
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="document in
                    listPaginated = (listFiltered = (listOngoing = (list.filterByDateField(list.filterParams.due))
                    | filterByOwnership:list.filterParams.ownership
                    | filterByAssignmentType:list.filterParams.assignmentType
                    | filterByContactId:list.filterParams.contactId
                    | filterByStatus:list.filterParamsHolder.documentStatus
                    | orderBy: 'activity_date_time')
                    | offset: (list.pagination.currentPage-1)*list.pagination.itemsPerPage
                    | limitTo: list.pagination.itemsPerPage)"
                  ng-controller="DocumentCtrl"
                  ng-include
                  src="'document.html'">
                </tr>
              </tbody>
            </table>
            <div class="clearfix"></div>
            <nav class="row" ng-show="(listFiltered.length > list.pagination.itemsPerPage)">
              <div class="col-xs-12 text-center">
                <uib-pagination boundary-links="true"
                  total-items="listFiltered.length" rotate="false"
                  items-per-page="list.pagination.itemsPerPage" max-size="list.pagination.maxSize"
                  ng-model="list.pagination.currentPage" class="pagination-sm"
                  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                  last-text="&raquo;">
                </uib-pagination>
              </div>
            </nav>
        </div>
      </nav>
    </div>
  </div>
</div>
<script type="text/ng-template" id="document.html">
  <td><a ng-href="{{urlFile}}" ng-click="(!document.file_count || document.file_count == '0') && modalDocument('edit', document, $event);" ng-bind="cache.documentType.obj[document.activity_type_id]"></a></td>
  <td>
    <a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[document.target_contact_id[0]].contact_id}}">
      {{ (cache.contact.obj[document.target_contact_id[0]].sort_name | limitTo: 15) + (cache.contact.obj[document.target_contact_id[0]].sort_name.length > 15 ? '...' : '') }}
    </a>
  </td>
  <td ng-if="document.assignee_contact_id">{{ concatAssignees(document.assignee_contact_id) }}</td>
  <td ng-if="settings.extEnabled.assignments" ng-bind="(cache.assignmentType.obj[cache.assignment.obj[document.case_id].case_type_id].title || '-')"></td>
  <td ng-bind="(document.activity_date_time | date: 'dd/MM/yyyy') || '-'"></td>
  <td ng-bind="(document.expire_date | date: 'dd/MM/yyyy') || '-'"></td>
  <td>
    <div class="dropdown" uib-dropdown>
      <a href class="dropdown-toggle"
        ng-class="{
          'text-danger-light': (document.status_id == 4 || document.status_id == 1),
          'text-success-light': (document.status_id == 3),
          'text-warning-light': (document.status_id == 2)
        }" uib-dropdown-toggle>{{cache.documentStatus.obj[document.status_id]}} <i class="caret"></i>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="status in cache.documentStatus.arr"><a href ng-bind="status.value" ng-click="list.changeStatus(document, status.key)"></a></li>
      </ul>
    </div>
  </td>
  <td>
    <div class="dropdown" uib-dropdown>
      <a href class="dropdown-toggle {{prefix}}context-menu-toggle" uib-dropdown-toggle><i class="fa fa-ellipsis-v"></i></a>
      <ul class="dropdown-menu pull-right" uib-dropdown-menu>
        <li ng-show="document.file_count && document.file_count != '0'"><a ng-href="{{urlFile}}"><i class="fa fa-download"></i> Download</a></li>
        <li><a href ng-click="modalDocument('edit', document, $event);"><i class="fa fa-pencil"></i> Edit</a></li>
        <li><a href ng-click="modalReminder(document, 'document');"><i class="fa fa-envelope-o"></i> Send reminder</a></li>
        <li ng-if="permissions.allowDelete"><a href ng-click="list.deleteDocument(document);"><i class="fa fa-trash-o"></i> Delete</a></li>
      </ul>
    </div>
  </td>
</script>
