<div class="{{prefix}}container-inner">
    <div class="{{prefix}}sidebar {{prefix}}sidebar-inner">
        <div class="panel panel-light  panel-secondary">
            <div class="panel-heading">
                <h3 class="panel-title">View Dates By:</h3>
            </div>
            <div class="panel-body">
                <div class="{{prefix}}filter-date">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href ng-model="filterParams.date" btn-radio="'isoWeek'" uncheckable>{{label.isoWeek}} <i class="fa fa-calendar"></i> <span class="badge badge-primary" ng-bind="(dateList | filterBy.date:'isoWeek').length"></span></a></li>
                        <li role="presentation"><a href ng-model="filterParams.date" btn-radio="'month'" uncheckable>{{label.month}} <i class="fa fa-calendar"></i> <span class="badge badge-primary" ng-bind="(dateList | filterBy.date:'month').length"></span></a></li>
                        <li role="presentation"><a href ng-model="filterParams.date"  btn-radio="'year'" uncheckable>{{label.year}} <i class="fa fa-calendar"></i> <span class="badge badge-primary" ng-bind="dataLoading ? 'loading' : (dateList | filterBy.date:'year').length"></span></a></li>
                    </ul>
                    <hr>
                    <a href
                       ng-click="isCollapsed.filterDates = !isCollapsed.filterDates"
                       class="btn btn-block {{prefix}}select-dates"><em>OR</em> Select Dates <i
                            class="fa"
                            ng-class="{fa: true, 'fa-chevron-down': !isCollapsed.filterDates, 'fa-chevron-left': isCollapsed.filterDates }"></i></a>
                    <div class="form-horizontal" collapse="isCollapsed.filterDates">
                        <div class="form-group">
                            <label for="{{prefix}}filter-date-from" class="col-xs-12 col-sm-3 control-label">From</label>
                            <div class="col-xs-12 col-sm-9 col-lg-7">
                                <input
                                        is-open="dpOpened.filterDates.from"
                                        datepicker-popup="dd/MM/yyyy"
                                        ng-click="dpOpened.filterDates.from = !dpOpened.filterDates.from"
                                        ng-model="filterParamsHolder.dateRange.from"
                                        max-date="filterParamsHolder.dateRange.until"
                                        id="{{prefix}}filter-date-from" class="form-control" name="filterDateFrom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{prefix}}filter-date-until" class="col-xs-12 col-sm-3 control-label">Until</label>
                            <div class="col-xs-12 col-sm-9  col-lg-7">
                                <input
                                        is-open="dpOpened.filterDates.until"
                                        datepicker-popup="dd/MM/yyyy"
                                        min-date="filterParamsHolder.dateRange.from"
                                        ng-click="dpOpened.filterDates.until = !dpOpened.filterDates.until"
                                        ng-model="filterParamsHolder.dateRange.until"
                                        id="{{prefix}}filter-date-until" class="form-control" name="filterDateUntil">
                            </div>
                        </div>
                        <button class="btn btn-default btn-primary btn-block"
                                ng-click="filterParams.dateRange.from = filterParamsHolder.dateRange.from;
                                      filterParams.dateRange.until = filterParamsHolder.dateRange.until;
                                      filterParams.date = 'dateRange';
                                      labelDateRange()">Show Date Range</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="{{prefix}}content-wrapper">
        <div class="{{prefix}}content">
            <div class="panel panel-light panel-secondary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <h3 class="panel-title" ng-bind="(filterParams.date && filterParams.date != 'dateRange' ? 'This ' : '') + label[filterParams.date]"></h3>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <div class="{{prefix}}filter-date-type">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-2 control-label">Date Type:</label>
                                        <div class="col-xs-12 col-sm-10">
                                            <ui-select
                                                    multiple
                                                    ng-model="filterParams.dateType">
                                                <ui-select-match placeholder="Select date type...">{{$item.value}}</ui-select-match>
                                                <ui-select-choices repeat="type.key as type in cache.dateType.arr">
                                                    <div ng-bind-html="type.value | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="{{prefix}}list-key-dates">
                <li ng-repeat="dateObj in dateList | filterBy.date:filterParams.date | filterBy.dateType:filterParams.dateType" class="panel panel-light panel-secondary">
                    <header class="panel-heading">
                        <time>{{dateObj.date | date: 'EEE d MMMM'}} <span>{{dateObj.date | date: 'yyyy'}}</span></time>
                    </header>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="dateContact in dateObj.dateContactList"><strong class="{{dateContact.type}}" ng-bind="cache.dateType.obj[dateContact.type]"></strong> <a href ng-href="{{url.CONTACT+'?reset=1&cid='+dateContact.contact_id}}" ng-bind="dateContact.contact_name"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>