<div class="{{prefix}}container-inner">
    <div class="{{prefix}}sidebar {{prefix}}sidebar-inner">
        <div class="panel panel-light">
            <div class="panel-heading">
                View Tasks By:
            </div>
            <div class="panel-body">
                <div class="{{prefix}}filter-due">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href ng-model="filterBy.due" btn-radio="'overdue'" uncheckable>{{label.overdue}} <i class="fa fa-calendar"></i> <span class="badge badge-danger" ng-bind="(taskList | filter: tasksFilterFn.overdue | filter: tasksFilterFn[filterBy.userRole]).length"></span></a></li>
                        <li role="presentation"><a href ng-model="filterBy.due" btn-radio="'dueToday'" uncheckable>{{label.dueToday}} <i class="fa fa-calendar"></i> <span class="badge badge-primary" ng-bind="(taskList | filter: tasksFilterFn.dueToday | filter: tasksFilterFn[filterBy.userRole]).length"></span></a></li>
                        <li role="presentation"><a href ng-model="filterBy.due"  btn-radio="'dueThisWeek'" uncheckable>{{label.dueThisWeek}} <i class="fa fa-calendar"></i> <span class="badge badge-primary" ng-bind="(taskList | filter: tasksFilterFn.dueThisWeek | filter: tasksFilterFn[filterBy.userRole]).length"></span></a></li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="{{prefix}}content-wrapper">
        <div class="{{prefix}}content">
            <div class="panel panel-light">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            {{label[filterBy.due]}}
                        </div>
                        <div class="col-xs-12 col-sm-8 text-center">
                            <div class="{{prefix}}filter-user-role">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-gray active"
                                            ng-model="filterBy.userRole"
                                            btn-radio="'myTasks'">My Tasks ({{(taskList | filter: tasksFilterFn.myTasks).length}})</button>
                                    <button type="button" class="btn btn-gray"
                                            ng-model="filterBy.userRole"
                                            btn-radio="'delegatedTasks'">Delegated Tasks ({{(taskList | filter: tasksFilterFn.delegatedTasks).length}})</button>
                                    <button type="button" class="btn btn-gray"
                                            ng-model="filterBy.userRole"
                                            btn-radio="null">All</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2 text-right">
                            <a href ng-click="isCollapsed = !isCollapsed" class="btn btn-collapse"><span
                                    class="fa"
                                    ng-class="{fa: true, 'fa-chevron-down': !isCollapsed, 'fa-chevron-right': isCollapsed }"
                                    aria-hidden="true"></span> Filter Tasks</a>
                        </div>
                    </div>
                    <div class="row form-horizontal" collapse="isCollapsed">
                        <div class="{{prefix}}filter-advanced">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label">Contact:</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="input-group">
                                            <ui-select
                                                    allow-clear
                                                    ng-model="filterBy.contactId">
                                                <ui-select-match
                                                        placeholder="Search / Filter">{{$select.selected.label}}</ui-select-match>
                                                <ui-select-choices  repeat="contact.id as contact in cache.contact.arrSearch | filter: $select.search"
                                                                    refresh-delay="0">
                                                    <div ng-bind="contact.label"></div>
                                                    <small ng-bind="contact.description[0]"></small>
                                                </ui-select-choices>
                                            </ui-select>
                                        <span class="input-group-btn">
                                          <a ng-click="filterBy.contactId = ''" class="btn btn-default">
                                              <span class="fa fa-remove"></span>
                                          </a>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-4 control-label">Assignmnet Type:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <ui-select
                                                multiple
                                                ng-model="filterBy.assignmentType">
                                            <ui-select-match placeholder="Select assignment...">{{$item.title}}</ui-select-match>
                                            <ui-select-choices repeat="type.id as type in cache.assignmentType.arr">
                                                <div ng-bind-html="type.title | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="{{prefix}}list-task">
                <li ng-repeat="task in taskList | filter: tasksFilterFn[filterBy.due] | filter: tasksFilterFn[filterBy.userRole] | filter: tasksFilterFn.assignmentType | filter: tasksFilterFn.contactId | orderBy: 'activity_date_time'"
                    ng-controller="TaskCtrl"
                    ng-class="{
                        '{{prefix}}task-completed': task.completed,
                        '{{prefix}}task-due': task.due
                    }"
                    ng-include
                    src="'task.html'">
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="task.html">
    <header class="row">
        <div class="col-xs-6">
            <input type="checkbox"
                   ng-change="changeStatus(2)"
                   ng-disabled="task.completed"
                   ng-model="task.completed"
                   class="{{prefix}}task-checkbox"
                   name="task">
            <a href class="{{prefix}}task-title"  ng-click="modalTask(task);" ng-bind="cache.taskType.obj[task.activity_type_id]"></a>
        </div>
        <div class="col-xs-3 text-right">
            <span class="{{prefix}}assignment-type" ng-bind="cache.assignmentType.obj[cache.assignment.obj[task.case_id].case_type_id].title"></span>
        </div>
        <div class="col-xs-2 text-right">
            <a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.assignee_contact_id[0]].id}}" class="{{prefix}}task-contact-assignee" ng-bind="cache.contact.obj[task.assignee_contact_id[0]].sort_name"></a>
        </div>
        <div class="col-xs-1">
            <div class="dropdown" dropdown>
                <a href class="dropdown-toggle pull-right" dropdown-toggle><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href ng-click="modalTask(task);"><i class="fa fa-pencil"></i> Edit</a></li>
                    <li><a href><i class="fa fa-envelope-o"></i> Send reminder</a></li>
                    <li><a href ng-click="deleteTask(task);"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <p class="{{prefix}}task-subject">Due: <time ng-bind="task.activity_date_time | date: 'MMM d'"></time> <span ng-if="!!task.subject">Subject: {{task.subject}}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><a href ng-click="isCollapsed = !isCollapsed" class="btn btn-collapse"><span
                    class="fa"
                    ng-class="{fa: true, 'fa-chevron-down': !isCollapsed, 'fa-chevron-right': isCollapsed }"
                    aria-hidden="true"></span> Details</a></p>
            <article class="row" collapse="isCollapsed">
                <div class="col-xs-12">
                    <div ta-bind class="{{prefix}}task-details" ng-if="!!task.details" ng-model="task.details"></div>
                    <p class="{{prefix}}task-contact-source">Assigned by:&nbsp; <a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[task.source_contact_id].id}}"><span ng-bind="cache.contact.obj[task.source_contact_id].sort_name"></span></a></p>
                </div>
            </article>
        </div>
    </div>
</script>