<h4 class="header-bar header-bar-danger">Documents:</h4>
<div class="{{prefix}}documents-container" ct-spinner ct-spinner-id="documentList">
  <table class="table table-striped {{prefix}}table-documents">
    <thead>
      <tr>
        <th>Type</th>
        <th>Contact</th>
        <th ng-if="settings.extEnabled.assignments">Workflow</th>
        <th>Due Date</th>
        <th>Expiry Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="document in listPaginated = (listOngoing = (list.list
        | filterByStatus:cache.documentStatusResolve:false
        | filterByDateField:'dateRange':'activity_date_time':{ from: calendarDay, until: calendarDay }
        | orderBy: 'activity_date_time')
        | offset: (list.pagination.currentPage-1) * list.pagination.itemsPerPage
        | limitTo: list.pagination.itemsPerPage)"
        ng-controller="DocumentController"
        ng-include
        src="'document.html'">
      </tr>
    </tbody>
  </table>
  <div class="clearfix"></div>
  <nav class="row" ng-show="(listOngoing.length > list.pagination.itemsPerPage)">
    <div class="col-xs-12 text-center">
      <uib-pagination boundary-links="true"
        total-items="listOngoing.length"
        rotate="false" items-per-page="list.pagination.itemsPerPage"
        max-size="list.pagination.maxSize"
        ng-model="list.pagination.currentPage"
        class="pagination-sm" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      </uib-pagination>
    </div>
  </nav>
</div>

<script type="text/ng-template" id="document.html">
  <td><a ng-href="{{fileUrl}}"
    ng-click="(!document.file_count || document.file_count == '0') && modalDocument(document, 'edit', $event);"
    ng-bind="cache.documentType.obj[document.activity_type_id]"></a>
  </td>
  <td><a ng-href="{{url.CONTACT+'?reset=1&cid='+cache.contact.obj[document.assignee_contact_id[0]].id}}"
    ng-bind="cache.contact.obj[document.assignee_contact_id[0]].sort_name"></a>
  </td>
  <td ng-if="settings.extEnabled.assignments" ng-bind="(cache.assignmentType.obj[cache.assignment.obj[document.case_id].case_type_id].title || '-')"></td>
  <td ng-bind="(document.activity_date_time | date: 'dd/MM/yyyy') || '-'"></td>
  <td ng-bind="(document.expire_date | date: 'dd/MM/yyyy') || '-'"></td>
  <td>
    <div class="dropdown" uib-dropdown>
      <a href class="dropdown-toggle"
        ng-class="{
          'text-danger-light': (document.status_id == 4 || document.status_id == 1),
          'text-success-light': (document.status_id == 3),
          'text-warning-light': (document.status_id == 2)
        }" uib-dropdown-toggle>{{cache.documentStatus.obj[document.status_id]}} <i class="caret"></i></a>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="status in cache.documentStatus.arr"><a href ng-bind="status.value" ng-click="list.changeStatus(document, status.key)"></a></li>
      </ul>
    </div>
  </td>
  <td>
    <div class="dropdown" uib-dropdown>
      <a href class="dropdown-toggle {{prefix}}context-menu-toggle" uib-dropdown-toggle><i class="fa fa-ellipsis-v"></i></a>
      <ul class="dropdown-menu pull-right" uib-dropdown-menu>
        <li ng-show="document.file_count && document.file_count != '0'"><a ng-href="{{fileUrl}}"><i class="fa fa-download"></i> Download</a></li>
        <li><a href ng-click="modalDocument(document, 'edit', $event);"><i class="fa fa-pencil"></i> Edit</a></li>
        <li><a href ng-click="modalReminder(document, 'document');"><i class="fa fa-envelope-o"></i> Send reminder</a></li>
        <li ng-if="permissions.allowDelete"><a href ng-click="list.deleteDocument(document);"><i class="fa fa-trash-o"></i> Delete</a></li>
      </ul>
    </div>
  </td>
</script>
