/* Schema */
##{$prefix}dashboard {

  .#{$prefix}dashboard-tasks--full-height-columns {
    position: relative;

    > aside {
      position: absolute;
      float: left;
      background-color: $dashboard-sidebar-color;
      width: $dashboard-sidebar-width;
      min-height: 500px;
      height: 100%;
      box-shadow: 1px 4px 15px 0 rgba(0, 0, 0, 0.1);
    }

    > main {
      display: block;
      margin-left: $dashboard-sidebar-width;
    }

    > footer {
      clear: both;
    }
  }
}

##{$prefix}dashboard {
  .#{$prefix}container-main {
    position: relative;
    background-color: $sidebar-main-bg;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .#{$prefix}container-inner {

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .panel {
    margin-bottom: 15px;
  }

  .panel-filter {
    margin-bottom: 0;
  }

  .#{$prefix}dashboard-tasks {

    .#{$prefix}list-task,
    .#{$prefix}list-task + .header-bar {
      margin-left: 10px;
    }

    .#{$prefix}list-task {
      > li {

        header {

          .task-title {
            margin: 4px 0;
          }
        }
      }

      > li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .#{$prefix}dashboard-tasks--full-height-columns {

    > main {

      > .#{$prefix}content-wrapper {

        > .#{$prefix}content {

          .panel-heading {
            box-shadow: 1px 4px 15px 0 rgba(0, 0, 0, 0.1);
          }

          .#{$prefix}list-task {
            margin-left: 10px;

            > li {

              header {

                .task-title {
                  margin: 4px 0;

                  > .task-title {
                    color: $secondary-colour;
                  }
                }
              }

              article {

                .editable-click{
                  height: 28px;
                }

                .#{$prefix}task-contact-source {
                  font-size: 12px;
                  color: $secondary-colour;

                  > a:link {
                    color: initial;
                  }
                }
              }
            }

            > li:last-child {
              margin-bottom: 0;
            }
          }

        }
      }
    }
  }

  .#{$prefix}dashboard-key-dates {

    .ct-sidebar-inner + .ct-content-wrapper > .ct-content {
      min-height: 515px;
    }

    .#{$prefix}csv-export {
      font-size: 11px;
      margin-left: 30px;
      position: relative;
      top: 1px;
    }

    .#{$prefix}list-key-dates {
      margin-left: 10px;

      > li {
        margin-bottom: 0px;
      }

      > li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .#{$prefix}dashboard-calendar {
    min-height: 675px;

    .header-bar {
      .#{$prefix}cal-prev,
      .#{$prefix}cal-next {
        margin-top: -10px;
        padding: 10px;
      }

      .#{$prefix}cal-prev {
        float: left;
        margin-left: -10px;
      }

      .#{$prefix}cal-next {
        float: right;
        margin-right: -10px;
      }
    }

    .#{$prefix}documents-container {
      @include box-shadow($box-shadow-global);
    }

    .header-bar-dark,
    .header-bar-danger-light {
      margin-bottom: 10px;
    }

    .btn-cal-view {
      min-width: 70px;
    }

    .#{$prefix}list-task {
      margin-bottom: 15px;
    }

    .#{$prefix}view-day {
      @include grid-condensed(7.5px);

      .#{$prefix}datepicker table {
        table-layout: fixed;
        max-width: 100%;
      }
    }

  }

  .#{$prefix}dashboard-assignments,
  .#{$prefix}dashboard-reports {
    background-color: #fff;
    @include box-shadow($box-shadow-global);
  }

}
