.#{$prefix}documents-container {
  background-color: $table-bg;

  table th {
    cursor: pointer;
  }

  .sortorder:after {
    content: '\25b2';
  }
  .sortorder.reverse:after {
    content: '\25bc';
  }
}
