.#{$prefix}list-task {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    @include box-shadow($box-shadow-list);
    background-color: $panel-bg;
    border-left: 5px solid $brand-success;
    border-radius: $border-radius-base;
    color: $text-color;
    margin: {
      bottom: 10px;
      top: 10px;
    };
    padding: {
      bottom: 7px;
      left: 35px;
      right: 20px;
      top: 8px;
    };

    &.#{$prefix}task-due {
      border-color: $brand-danger;

      time {
        color: $brand-danger;
      }
    }

    &.#{$prefix}task-completed {
      .#{$prefix}task-title {
        text-decoration: line-through;
      }
    }
  }

  .btn-collapse {
    color: $text-color;
    font-size: $font-size-base;
    font-weight: normal;
    margin-bottom: 8px;
    margin-left: -20px;
    text-transform: none;

    .fa {
      font-size: 10px;
      margin-right: 9px;

      &.fa-chevron-down {
        margin-right: 6px;
      }
    }

    &:hover,
    &:focus {
      color: darken($text-color, 15%);
    }
  }

  header {
    font-size: 14px;
    font-weight: 600;

    .editable-ui-select {
      margin-bottom: -3px;
      margin-top: -1px;
      top: -1px;
    }
  }

  time {
    color: $brand-success;
  }

  .ui-select-container {
    display: inline-block;
  }

  .#{$prefix}context-menu-toggle  {
    margin-right: -9px;
    margin-top: 4px;
    float: right;
    width: 30px;
  }

  .#{$prefix}assignment-type {
    padding-left: 86px;

    .editable {
      margin-top: -4px;
    }
  }

  .#{$prefix}assignment-type,
  .#{$prefix}task-title {
    color: $brand-secondary-text;
  }

  .#{$prefix}task-checkbox {
    margin-left: -20px;
    margin-right: 4px;
    float: left;
    margin-top: 8px;
  }

  .#{$prefix}task-contact-assignee,
  .#{$prefix}task-contact-target {
    padding-left: 5px;
  }

  .#{$prefix}task-contact-source {
    margin-bottom: 0;
  }

  .#{$prefix}task-details {
    p {
      margin-bottom: 16px;
    }
  }

  .#{$prefix}task-more {
    background-color: $gray-lighter;
    border: 1px solid $crm-grayblue-dark;
    border-radius: 2px;
    padding: 9px 8px;
    margin-bottom: 12px;
    line-height: 23px;

    .editable,
    .editable-ta {
      margin-bottom: ($line-height-computed / 2);
      width: 100%;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .#{$prefix}task-subject {
    margin-bottom: 14px;

    time {
      margin-right: 12px;
    }

    .editable-text,
    .editable-bsdate {
      margin: {
        bottom: -6px;
        top: -3px;
      };
      top: -2px;
    }

    .editable-small {
      margin: {
        bottom: -4px;
        top: -4px;
      }
    }
  }

  + .header-bar {
    margin-top: 15px;
  }

  &.#{$prefix}list-task-small {
    header {
      font-size: 13px;
    }

    .#{$prefix}task-checkbox {
      margin-top: 3px;
    }

    .#{$prefix}assignment-type {
      padding-left: 85px;
    }
  }

}

.#{$prefix}list-key-dates {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: $text-color;

    &:hover {
      color: darken($text-color, 15%);
    }
  }

  strong {
    color: $gray-darker;
    padding-right: 5px;
  }

  time {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 0 2px;

    span {
      color: $text-color;
    }
  }

  > li {
    margin-top: 10px;
  }

  .period_start_date {
    color: $brand-success;
  }

  .period_end_date {
    color: $brand-warning;
  }

  .panel {
    @include box-shadow($box-shadow-global);

    .panel-heading {
      background-color: $gray-lighter;
      border-bottom: 1px solid $hr-border;
    }

    > .list-group {
      .list-group-item {
        border-width: 0;
        margin: 0;
        padding: 0 15px 11px;

        &:first-child {
          padding-top: 11px;
        }
      }
    }
  }

  .panel-heading {
    padding: 11px 15px 12px;
  }
}
