.nav-tabs {
  background-color: $gray-lighter;

  li,
  a {
    color: $gray-darker;
  }

  li a {
    &:hover,
    &:focus {
      color: darken($gray-darker, $crm-darken-percentage);
    }
  }

  li.active a {
    background-color: $crm-white;
    border-bottom-color: transparent;
    color: $brand-primary;

    &:hover,
    &:focus {
      background-color: $crm-white;
      color: darken($brand-primary, $crm-darken-percentage);
      cursor: default;
    }
  }
}
