.#{$prefix}sidebar {
  float: left;
  margin-right: -100%;
  position: relative;
  width: $sidebar-width;

  + .#{$prefix}content-wrapper {
    float: left;
    width: 100%;

    > .#{$prefix}content {
      background-color: $body-bg;
      margin-left: $sidebar-width;

      &:before,
      &:after {
        content: " ";
        display: table;
      }

      &:after {
        clear: both;
      }
    }
  }
}

.#{$prefix}sidebar-main {
  height: 100%;
  overflow: hidden;
  padding-right: 15px;
  position: absolute;
  width: $sidebar-width+15px;

  + .#{$prefix}content-wrapper {
    > .#{$prefix}content {
      padding: 15px;
      min-height: $content-min-height;
    }
  }
}

.#{$prefix}sidebar-inner {
  width: $dashboard-sidebar-width;

  + .#{$prefix}content-wrapper {
    > .#{$prefix}content {
      border-left: 1px solid $body-bg;
      margin-left: $dashboard-sidebar-width;
      min-height: $content-min-height - 20px;
    }
  }

  .date-range__selected {
    background-color: $brand-primary;
    border-radius: $border-radius-base;

    .#{$prefix}select-dates {
      padding: 10px 42px 5px 38px;
    }

    label,
    .input-group-addon,
    .#{$prefix}select-dates {
      color: $crm-white;
    }

    .form-horizontal {
      padding: 0 20px;
    }
  }
}
