@at-root {
  .#{$prefix}spinner-container {
    position: relative;
  }

  .#{$prefix}spinner-cover,
  .#{$prefix}spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 999;
  }
}
