<form novalidate name="assignmentForm" class="form-assignment form-horizontal" role="form" ng-submit="confirm()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" ng-bind="cache.contact.obj[assignment.contact_id].sort_name || 'No target contact'"></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="{{prefix}}assignment-type" class="col-xs-12 col-sm-3 control-label">Assignment Type:</label>
                    <div class="col-xs-6 col-sm-4">
                        <select id="{{prefix}}assignment-type" class="form-control" name="assignmentType"
                                ng-change="setData()"
                                ng-model="assignment.case_type_id"
                                ng-options="key as value.title for (key, value) in cache.assignmentType">
                            <option value="">- select - </option>
                        </select>
                    </div>
                    <label for="{{prefix}}assignment-due" class="col-xs-6 col-sm-4 control-label">Due Date:
                        <a href="" class="text-normal"
                           ng-model="assignment.end_date"
                           is-open="dpOpened.assignmentDue"
                           datepicker-popup
                           ng-click="dpOpen($event, 'assignmentDue');">{{(assignment.end_date | date: 'MMM d, yyyy' )|| 'Set Date'}}</a></label>
                    <input type="hidden" id="{{prefix}}assignment-due" ng-model="assignment.end_date" name="assignmentDue">
                </div>
                <hr>
                <div class="form-group">
                    <label for="{{prefix}}assignment-task-list" class="col-xs-12 col-sm-3 control-label">Select a task list:</label>
                    <div class="col-xs-12 col-sm-6">
                        <select id="{{prefix}}assignment-task-list" name="assignmentTaskList"
                                ng-model="taskSet"
                                ng-options="taskSet.label for taskSet in cache.assignmentType[assignment.case_type_id].definition.activitySets"
                                ng-disabled="!taskList.length"
                                class="form-control">
                        </select>
                    </div>
                </div>
                <hr>
                <h4 ng-show="taskList.length">Tasks:</h4>
                <div class="form-group" ng-repeat="task in taskList" ng-controller="ModalAssignmentTaskCtrl">
                    <div class="checkbox col-xs-12 col-sm-3">
                        <label>
                            <input type="checkbox" ng-model="task.create"> {{task.name}}
                        </label>
                    </div>
                    <label class="col-xs-12 col-sm-2 control-label">Assigned to:</label>
                    <div class="col-xs-6 col-sm-4">
                        <div class="input-group">
                            <ui-select allow-clear
                                       ng-model="task.assignee_contact_id"
                                       on-select="cacheContact($item)">
                                <ui-select-match
                                        placeholder="Start typing a name or email...">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices  repeat="contact.id as contact in contacts | filter: $select.search"
                                                    refresh="refreshContacts($select.search)"
                                                    refresh-delay="0">
                                    <div ng-bind="contact.label"></div>
                                    <small ng-bind="contact.description[0]"></small>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                              <a ng-click="task.assignee_contact_id = undefined" class="btn btn-default">
                                  <span class="fa fa-remove"></span>
                              </a>
                            </span>
                        </div>
                    </div>
                    <label for="{{prefix}}assignment-task-due-{{$index}}" class="col-xs-6 col-sm-2 control-label">
                        <a href="" class="text-normal"
                           ng-model="task.due"
                           is-open="dpOpened[$index]"
                           datepicker-popup
                           ng-change="setAssignmentDueDate()"
                           ng-click="dpOpen($event, $index);">{{(task.due | date: 'MMM d, yyyy' )|| 'Set Date'}}</a></label>
                    <input type="hidden" id="{{prefix}}assignment-task-due-{{$index}}" ng-model="task.due" name="assignmentDue">
                </div>

                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">Assignee:</label>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <ui-select allow-clear ng-model="task.assignee_contact_id">
                                <ui-select-match
                                        placeholder="Start typing a name or email...">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices  repeat="contact.id as contact in contacts | filter: $select.search"
                                                    refresh="refreshContacts($select.search)"
                                                    refresh-delay="0">
                                    <div ng-bind="contact.label"></div>
                                    <small ng-bind="contact.description[0]"></small>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                              <a ng-click="task.assignee_contact_id = undefined" class="btn btn-default">
                                  <span class="fa fa-remove"></span>
                              </a>
                            </span>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <span class="fa fa-remove" aria-hidden="true"></span> Cancel
        </button>
        <button type="button" class="btn btn-default btn-primary" ng-click="confirm()">
            <span class="fa fa-check" aria-hidden="true"></span> Save
        </button>
    </div>
</form>