<form novalidate name="documentForm" class="form-horizontal form-document" role="form" ng-submit="confirm()" ct-spinner>
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-11">
                <ui-select name="target" ng-class="{'has-error': documentForm.target.$invalid}"
                        allow-clear class="required-field-indicator"
                        ng-model="document.target_contact_id[0]"
                        on-select="cacheContact($item)"
                        ng-required="true">
                    <ui-select-match class="ui-select-match" placeholder="Start typing a name or email...">
                        {{$select.selected.label}}
                    </ui-select-match>
                    <ui-select-choices class="ui-select-choices"
                                        repeat="contact.id as contact in contacts.target | filter: $select.search"
                                       refresh="refreshContacts($select.search, 'target')"
                                       refresh-delay="0">
                        <div ng-bind="contact.label"></div>
                        <small ng-bind="contact.description[0]"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-1">
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body" nv-file-drop uploader="uploader">
        <div class="container">
            <!-- Document Type -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="crm_custom-select crm_custom-select--full">
                      <ui-select theme="civihr-ui-select" ng-model="document.activity_type_id" class="required-field-indicator" ng-required="true">
                        <ui-select-match allow-clear class="ui-select-match" placeholder="Select document type">
                          {{$select.selected.value}}
                        </ui-select-match>
                        <ui-select-choices
                          class="ui-select-choices"
                          repeat="type.key as type in cache.documentType.arr | filter: $select.search">
                          <div ng-bind="type.value"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                </div>
            </div>
            <!-- Dates -->
            <div class="row double-spacing">
                <!-- Due Date -->
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="{{prefix}}document-due" class="col-xs-4 text-nowrap control-label required-field-indicator">Due Date:</label>

                    <div class="col-xs-8 input-group input-group-unstyled" ng-class="{'has-error': documentForm.dueDate.$invalid}">
                      <input name="dueDate"
                    type="text"
                    id="{{prefix}}document-due"
                    class="form-control"
                    name="documentDue"
                    ng-model="document.activity_date_time"
                    placeholder="dd/mm/yyyy"
                    uib-datepicker-popup
                    ng-required="true"
                    is-open="dpOpened.due"
                    ng-click="dpOpen($event, 'due')">
                  <span class="input-group-addon fa fa-calendar"></span>
            </div>
                  </div>
                </div>
                <!-- Expires -->
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="{{prefix}}document-exp" class="col-xs-4 control-label no-gutter">
                    <span class="pull-right">Expiry Date:</span>
                </label>

                    <div class="col-xs-8 input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="{{prefix}}document-exp"
                      name="documentExpireDate"
                      ng-model="document.expire_date"
                      placeholder="dd/mm/yyyy"
                      uib-datepicker-popup
                      is-open="dpOpened.exp"
                      ng-click="dpOpen($event, 'exp')">
                    <span class="input-group-addon fa fa-calendar"></span>
                </div>
            </div>
                </div>
            </div>
            <!-- Drop Zone -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="well drop-zone" ng-click="dropzoneClick();">
                        <i class="fa fa-cloud-upload"></i><br/>
                        <strong>Drop file here</strong><br/>
                        or click to browse
                    </div>
                    <input type="file"
                           class="form-control-file file-input pull-right"
                           id="{{prefix}}document-files"
                           multiple
                           nv-file-select uploader="uploader"/>
                </div>
                <div class="col-xs-12 table-responsive">
                    <table class="table table-condensed {{prefix}}table-upload"
                           ng-show="uploader.queue.length || files.length">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th ng-show="uploader.isHTML5">Size</th>
                            <th class="pull-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in files">
                            <td><a ng-href="{{file.url}}">{{file.name}}</a></td>
                            <td ng-show="uploader.isHTML5" nowrap>
                                <span>{{file.fileSize ? (file.fileSize/1024/1024|number:2) : '0.00' }} MB</span>
                            </td>
                            <td class="text-right" nowrap>
                                <button type="button" class="btn btn-danger btn-xs"
                                        ng-click="fileMoveToTrash($index)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat="item in uploader.queue">
                            <td>{{item.file.name}}</td>
                            <td ng-show="uploader.isHTML5" nowrap>
                                <span>{{ item.file.size/1024/1024|number:2 }} MB</span>
                            </td>
                            <td class="text-right" nowrap>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Assignee & Assignment -->
            <div class="row">
                <!-- Assignee -->
                <div class="col-xs-12 col-sm-7" ng-show="!document.assignee_contact_id[0] && !showAssigneeField">
                    <span class="form-control-static">
                        <a href class="btn btn-indent required-field-indicator" ng-click="showAssigneeField = true;">Add Assignee</a>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-7" ng-show="document.assignee_contact_id[0] || showAssigneeField">
                    <ui-select name="assignee" theme="civihr-ui-select"
                            ng-required="true" class="required-field-indicator"
                            allow-clear
                            ng-model="document.assignee_contact_id[0]"
                            on-select="cacheContact($item)">
                        <ui-select-match
                                class="ui-select-match"
                                placeholder="Start typing a name or email...">{{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices
                                class="ui-select-choices"
                                repeat="contact.id as contact in contacts.assignee | filter: $select.search"
                                refresh="refreshContacts($select.search, 'assignee')"
                                refresh-delay="0">
                            <div ng-bind="contact.label"></div>
                            <small ng-bind="contact.description[0]"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <!-- Assignment -->
                <div class="col-xs-12 col-sm-5" ng-show="!showAssignmentField">
                    <span class="form-control-static">
                        <a href class="btn btn-indent" ng-click="showAssignmentField = true;">Add to Assignment</a>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-5" ng-show="showAssignmentField">
                    <ui-select
                            allow-clear
                            ng-model="document.case_id"
                            on-select="cacheAssignment($item);">
                        <ui-select-match
                                class="ui-select-match"
                                placeholder="Enter search term...">{{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices"
                                           repeat="assignment.id as assignment in assignments"
                                           refresh="refreshAssignments($select.search)"
                                           refresh-delay="0">
                            <div>
                                <div ng-class="assignment.label_class">{{assignment.label}}</div>
                                <small>
                                    #{{assignment.id}}: {{assignment.extra.case_status}} (opened: {{assignment.extra.start_date | date:'MMM d, yyyy'}})
                                    <br>
                                    {{assignment.extra.case_subject}}
                                </small>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <!-- Show More -->
            <div class="row">
                <div class="col-xs-12">
                    <span ng-click="expanded = !expanded;"><i class="fa" ng-class="{'fa-chevron-down': expanded, 'fa-chevron-right': !expanded}"></i> Show more</span>
                </div>
            </div>
            <div class="row" ng-show="expanded">
                <label class="col-xs-12 col-sm-7" ng-hide="statusFieldVisible()">
                    <span class="form-control-static">
                        <a href class="btn btn-indent required-field-indicator" ng-click="showStatusField()">Set Status</a>
                    </span>
                </label>

                <div class="col-xs-12 col-sm-7" ng-show="statusFieldVisible()">
                    <ui-select theme="civihr-ui-select" name="documentStatus"
                            allow-clear class="required-field-indicator"
                            ng-model="document.status_id"
                            ng-required="true">
                        <ui-select-match allow-clear class="ui-select-match" placeholder="Set Status">
                            {{$select.selected.value}}
                        </ui-select-match>
                        <ui-select-choices
                            class="ui-select-choices"
                            repeat="status.key as status in cache.documentStatus.arr | filter: $select.search">
                            <div ng-bind="status.value"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="col-xs-12 control-label">Details</label>
                <div class="col-xs-12">
                    <div text-angular
                        ta-toolbar="[['bold','italics','underline','strikeThrough','ul','ol','undo','redo','clear']]"
                        ng-model="document.details">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            Cancel
        </button>

        <button type="submit" ng-click="openNew = true;" class="btn btn-default" ng-disabled="!documentForm.$valid">
            Save And New
        </button>

        <button type="submit" class="btn btn-default btn-primary">
            Save
        </button>
    </div>
</form>
