<form novalidate name="taskForm" class="form-horizontal form-task" role="form" ng-submit="confirm()" ct-spinner>
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-11">
                <ui-select ng-if="showCId" allow-clear name="target" ng-class="{'has-error': taskForm.target.$invalid}"
                           ng-model="task.target_contact_id[0]"
                           on-select="cacheContact($item)"
                           ng-required="true" class="required-field-indicator">
                    <ui-select-match class="ui-select-match" placeholder="Select Target Contact">
                        {{$select.selected.label}}
                    </ui-select-match>
                    <ui-select-choices
                                       class="ui-select-choices"
                                       repeat="contact.id as contact in contacts.target | filter: $select.search"
                                       refresh="refreshContacts($select.search, 'target')"
                                       refresh-delay="0">
                        <div ng-bind="contact.label"></div>
                        <small ng-bind="contact.description[0]"></small>
                    </ui-select-choices>
                </ui-select>
                <span ng-if="!showCId" ng-bind="cache.contact.obj[task.target_contact_id[0]].sort_name || 'No target contact'"></span>
            </div>
            <div class="col-xs-1">
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container">
            <!-- Task Type & Date -->
            <div class="row">
                <div class="col-xs-12 col-sm-6" ng-show="data.activity_type_id">
                    <div class="form-group form-group-static">
                        <label class="col-xs-12 col-sm-3 control-label">Task:</label>
                        <div class="col-xs-8 col-sm-9">
                            <p class="form-control-static" ng-bind="cache.taskType.obj[data.activity_type_id]"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" ng-show="!data.activity_type_id">
                    <div class="crm_custom-select crm_custom-select--full">
                      <ui-select theme="civihr-ui-select"
                        ng-model="task.activity_type_id"
                        ng-required="true"
                        class="required-field-indicator">
                        <ui-select-match allow-clear class="ui-select-match" placeholder="Select Task Type">
                          {{$select.selected.value}}
                        </ui-select-match>
                        <ui-select-choices
                          class="ui-select-choices"
                          repeat="type.key as type in cache.taskType.arr | filter: $select.search">
                          <div ng-bind="type.value"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <div class="input-group form-group">
                    <label class="control-label no-gutter col-sm-4" for="{{prefix}}task-due">
                      <span class="pull-right required-field-indicator">Due Date:</span>
                    </label>

                    <div class="col-xs-8 input-group input-group-unstyled" ng-class="{'has-error': taskForm.assignmentDue.$invalid}">
                      <input
                      type="text"
                      name="assignmentDue"
                      id="{{prefix}}task-due"
                      class="form-control"
                      ng-model="task.activity_date_time"
                      placeholder="{{ format }}"
                      ng-required="true"
                      uib-datepicker-popup
                      is-open="dpOpened"
                      ng-click="dpOpen($event);">
                      <span class="input-group-addon fa fa-calendar"></span>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Subject -->
            <div class="row">
                <div class="col-xs-12 col-sm-6" ng-show="!task.subject && !showFieldSubject">
                    <span class="form-control-static">
                        <a href class="btn btn-indent" ng-click="showFieldSubject = true;">
                            Add Subject
                        </a>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6" ng-show="task.subject || showFieldSubject">
                    <input id="{{prefix}}task-subject"
                           class="form-control" name="taskSubject"
                           ng-model="task.subject" placeholder="Subject"
                           maxlength="255"
                    />
                </div>
            </div>
            <!-- Details -->
            <div class="row">
                <label class="col-xs-12 control-label">Details</label>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div text-angular
                         prevent-animations
                         ta-toolbar="[['bold','italics','underline','strikeThrough','ul','ol','undo','redo','clear']]"
                         ng-model="task.details">
                    </div>
                </div>
            </div>
            <!-- Assignee -->
            <div class="row">
                <div class="col-xs-12 col-sm-5" ng-show="!task.assignee_contact_id[0] && !showFieldAssignee">
                    <span class="form-control-static">
                        <a href class="btn btn-indent required-field-indicator" ng-click="showFieldAssignee = true;">
                            Add Assignee
                        </a>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6" ng-show="task.assignee_contact_id[0] || showFieldAssignee">
                    <ui-select ng-required="true" theme="civihr-ui-select" class="required-field-indicator"
                               allow-clear
                               ng-model="task.assignee_contact_id[0]"
                               on-select="cacheContact($item)">
                        <ui-select-match class="ui-select-match" placeholder="Assignee">
                            {{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices
                                           class="ui-select-choices"
                                           repeat="contact.id as contact in contacts.assignee | filter: $select.search"
                                           refresh="refreshContacts($select.search, 'assignee')"
                                           refresh-delay="0">
                            <div ng-bind="contact.label"></div>
                            <small ng-bind="contact.description[0]"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <!-- Status & Assignment-->
            <div class="row">
                <!-- Status -->
                <div class="col-xs-12 col-sm-5" ng-show="!task.status_id && !showFieldStatus">
                    <span class="form-control-static">
                        <a href class="btn btn-indent" ng-click="showFieldStatus = true;">
                            Set Status
                        </a>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-5" ng-show="task.status_id || showFieldStatus">
                    <div class="crm_custom-select crm_custom-select--full">
                        <select
                            ng-required
                            class="form-control"
                            ng-model="task.status_id"
                            ng-options="status.key as status.value for status in cache.taskStatus.arr">
                            <option value="">Status</option>
                        </select>
                        <span class="crm_custom-select__arrow"></span>
                    </div>
                </div>
                <!-- Assignment -->
                <div class="col-xs-12 col-sm-7" ng-show="!task.case_id && !showFieldAssignment">
                    <span class="form-control-static">
                        <a href class="btn btn-indent" ng-click="showFieldAssignment = true;">
                            Add to assignment
                        </a>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-7" ng-show="task.case_id || showFieldAssignment">
                    <ui-select allow-clear
                               ng-model="task.case_id"
                               on-select="cacheAssignment($item);">
                        <ui-select-match class="ui-select-match" placeholder="Assignment">
                            {{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices
                            class="ui-select-choices"
                            repeat="assignment.id as assignment in assignments"
                            refresh="refreshAssignments($select.search)"
                            refresh-delay="0">
                            <div>
                                <div ng-class="assignment.label_class">{{assignment.label}}</div>
                                <small>
                                    #{{assignment.id}}: {{assignment.extra.case_status}} (opened: {{assignment.extra.start_date | date:'MMM d, yyyy'}})
                                    <br>
                                    {{assignment.extra.case_subject}}
                                </small>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            Cancel
        </button>
        <button type="submit" ng-click="openNew = true;" class="btn btn-default">
            Save And New
        </button>
        <button type="submit" class="btn btn-default btn-primary">
            Save
        </button>
    </div>
</form>
