<div class="task-component">
  <header class="row">
    <div class="col-xs-6">
      <input type="checkbox"
        name="task"
        class="{{taskDetails.prefix}}task-checkbox"
        ng-change="taskDetails.markTaskAsCompleted()"
        ng-disabled="taskDetails.task.completed"
        ng-model="task.completed" />

        <span ng-transclude="title"></span>
    </div>
    <div class="col-xs-6">
      <div class="dropdown" uib-dropdown>
        <a href class="{{taskDetails.prefix}}context-menu-toggle dropdown-toggle pull-right" uib-dropdown-toggle>
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu pull-right" uib-dropdown-menu>
          <li>
            <a href ng-click="taskDetails.onEditClick({ $task: taskDetails.task })">
              <i class="fa fa-pencil"></i> Edit
            </a>
          </li>
          <li>
            <a href ng-click="taskDetails.onSendReminderClick({ $task: taskDetails.task } );">
              <i class="fa fa-envelope-o"></i> Send reminder
            </a>
          </li>
          <li ng-if="taskDetails.taskCanBeDeleted">
            <a href ng-click="taskDetails.onDeleteClick({ $task: taskDetails.task })">
              <i class="fa fa-trash-o"></i> Delete
            </a>
          </li>
        </ul>
      </div>
      <div ng-transclude="targetContact"></div>
    </div>
  </header>
  <div class="row">
    <div class="col-xs-6">
      <p class="{{taskDetails.prefix}}task-subject">
        Due:
        <time
          editable-bsdate="taskDetails.task.activity_date_time"
          onbeforesave="taskDetails.onBeforeSave({ $task: taskDetails.task });"
          onshow="taskDetails.dpOpen()"
          class="editable-small stick-to-label"
          e-ng-click="taskDetails.dpOpen()"
          e-show-calendar-button="false"
          e-is-open="picker.opened"
          e-datepicker-popup>
          <i class="fa fa-pencil"></i>
          {{taskDetails.task.activity_date_time | date: 'MMM d'}}
        </time>
        <span>Subject:</span>
        <span
          editable-text="taskDetails.task.subject"
          onbeforesave="list.updateTask(task, { subject: $data })"
          class="editable-small"
          e-placeholder="Subject...">
          <i class="fa fa-pencil"></i>
          {{ (taskDetails.task.subject | limitTo: 60) + (taskDetails.task.subject.length > 60 ? '...' : '') }}
        </span>
      </p>
    </div>
    <div class="col-xs-6">
      <div ng-transclude="assignedContact"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href ng-click="taskDetails.showMore = !taskDetails.showMore" class="btn btn-collapse">
        <span
          class="fa"
          ng-class="{fa: true, 'fa-chevron-down': taskDetails.showMore, 'fa-chevron-right': !taskDetails.showMore }"
          aria-hidden="true">
        </span>
        Show More
      </a>
    </div>
  </div>
  <article class="row" uib-collapse="!taskDetails.showMore">
    <div class="col-xs-12">
      <div class="{{taskDetails.prefix}}task-more">
        <div editable-ta="task.details" onbeforesave="taskDetails.onBeforeSave({ $task: taskDetails.task });">
          <div ta-bind ng-model="task.details">
          </div>
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <p class="{{taskDetails.prefix}}task-contact-source">
        Created by:&nbsp;
        <a ng-href="{{taskDetails.CONTACTS_URL+'?reset=1&amp;cid='+taskDetails.createdBy.id}}">
          <span ng-bind="taskDetails.createdBy.sort_name"></span>
        </a>
        &nbsp;-&nbsp;
        <span class="{{taskDetails.prefix}}task-status" ng-bind="taskDetails.status"></span>
      </p>
    </div>
  </article>
</div>
