.#{$prefix}top-bar {
  @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.50));
  background-color: $breadcrumb-bg;
  position: relative;
  z-index: 99;

  .btn-group {
    padding: 9px 18px;

    .btn {
      color: #fff;

      &:active,
      &:hover {
        color: darken(#fff, 10%);
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

.breadcrumb {
  font-weight: $headings-font-weight;
  text-transform: uppercase;
  margin-bottom: 0;

  a {
    color: $breadcrumb-color;

    &:hover {
      color: darken($breadcrumb-color, 10%);
    }
  }
}