##{$prefix}dashboard {
  margin-top: 25px;

  .#{$prefix}container-main {
    background-color: $sidebar-main-bg;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .#{$prefix}container-inner {
    background-color: $panel-bg;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .#{$prefix}list-task {
    margin-left: 10px;
  }

  .panel {
    margin-bottom: 0;
  }
}