.#{$prefix}filter-due {
  .nav {
    margin-left: -$panel-body-padding;
    margin-right: -$panel-body-padding;

    > li {
      margin-top: 0;

      > a {
        color: $text-color;
        padding: 9px 20px 8px 23px;

        &.active {
          background-color: $brand-primary;
          color: $panel-bg;

          .badge:not(.badge-danger) {
            background-color: $panel-bg;
            color: $brand-primary;
          }
        }
      }

      .badge {
        float: right;
      }

      .fa {
        position: absolute;
        right: 67px;
        top: 13px;
        font-size: 11px;
      }
    }
  }
}